body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  font-family: Arial, sans-serif;
}
#controlPanel {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 100;
}
.slider-container {
  margin-bottom: 10px;
}
label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}
.tooltip {
  position: absolute;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
  display: none;
  z-index: 100;
}
#toggleAnimation{
  background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%)
      padding-box,
    linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%) border-box;
  border-radius: 7px;
  border: 2px solid transparent;

  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;

  padding: 10px 40px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

#toggleAnimation:hover {
  box-shadow: none;
  opacity: 80%;
}

